<div style="padding-left:20%;padding-right:20% ">
	<table style="height: 75px; margin-left: auto; margin-right: auto;" width="100%">
		<tbody>
		<tr>
		<td style="width: 1324px;">&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="http://miraway-cetm.vn/Upload/images/logo%20miraway%202.png" width="241" height="75" /></td>
		</tr>
		</tbody>
		</table>
		<table style="height: 30px;" width="100%">
		<tbody>
		<tr>
		<td style="width: 623px; text-align: center;">
		<h4><span style="color: #ff0000;"><strong>&nbsp;TH&Ocirc;NG B&Aacute;O PHẢN HỒI KH&Aacute;CH H&Agrave;NG</strong></span></h4>
		</td>
		</tr>
		</tbody>
		</table>
		<p>&nbsp;</p>
		<table style="height: 240px;" width="100%">
		<tbody>
		<tr>
		<td style="width: 449px;">&nbsp;<img src="https://images.vov.vn/h500/uploaded/rkxeg3zmda9aw5ajtfaqxw/2018_04_13/6c5a6281b15dd2447f766e5882307d02_song_joong_ki_song_hye_kyo_QFEF.jpg" width="160" height="240" /></td>
		<td style="width: 60%;" align="top">
		<h3><span style="color: #008000;">{{.Uname}}</span></h3>
		<p>Thiết bị:<strong>{{.Device}}</strong></p>
		<p>Cửa h&agrave;ng: <strong>{{.Store}}</strong></p>
		<!-- <p>Quản l&yacute;: <strong>Song Hye Kyo</strong></p> -->
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		</td>
		</tr>
		</tbody>
		</table>
		<p>&nbsp;</p>
		<table style="height: 30px; background-color: #df0101;" width="100%">
		<tbody>
		<tr>
		<td style="width: 646px; text-align: center;"><span style="color: #ffffff;"><strong>&nbsp;NHẬN PHẢN HỒI K&Eacute;M</strong></span></td>
		</tr>
		</tbody>
		</table>
		<p>&nbsp;</p>
		<table style="height: 120px;" width="100%">
		<tbody>
		<tr style="height: 30px;">
		<td style="height: 30px; width: 60%;"><strong>&nbsp;C&acirc;u hỏi</strong></td>
		<td style="height: 30px; width: 30%;"><strong>&nbsp;Đ&aacute;p &aacute;n</strong></td>
		<td style="height: 30px; width: 10%;"><strong>Điểm&nbsp;</strong></td>
		</tr>
		{{range .SurveyDetails}}
		{{range .FeedbackDetails}}
		<tr style="height: 30px;">
		<td style="height: 30px; width: 60%;"><strong>{{.Content}}</strong></td>
		<td style="height: 30px; width: 30%;"><strong>{{.Answer}}</strong></td>
		<td style="height: 30px; width: 10%;"><strong>{{.Point}}/{{.MaxPoint}}</strong></td>
		</tr>
		{{end}}
		{{end}}
		</tbody>
		</table>
		<p>&nbsp;</p>
		<table style="height: 40px;" width="100%">
		<tbody>
		<tr>
		<td style="width: 70%;">
		<p>&nbsp;<span style="color: #008000;"><strong>C&Ocirc;NG TY TNHH MIRAWAY GIẢI PH&Aacute;P C&Ocirc;NG NGHỆ</strong></span></p>
		<p><span style="color: #0000ff;"><strong>Trụ sở ch&iacute;nh:</strong></span> số 14 Ph&aacute;o Đ&agrave;i L&aacute;ng, H&agrave; Nội</p>
		<p><strong><span style="color: #0000ff;">Văn ph&ograve;ng HCM:</span></strong> số 2 Trương Quốc Dung, Hồ Ch&iacute; Minh</p>
		</td>
		<td style="width: 30%;">&nbsp;<img style="float: right;" src="http://www.forwardafrica-ng.com/img/social-icons.png" alt="" width="175" height="40" /></td>
		</tr>
		</tbody>
		</table>
</div>